<div class="smart_container">
    <div class="banner_secouter">
        <div class="banner_sec">
            <div class="banner_inn">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-8 m-auto">
                            <h4 class="bannerhead">India's Largest Real Estate Marketplace</h4>
                            <div class="search_sec">
                                <div class="search_secinn">
                                    <ul class="nav nav-pills" id="searchTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="rentals-tab" data-toggle="tab" href="#rentals" role="tab" aria-controls="rentals" aria-selected="true">Rentals</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="sales-tab" data-toggle="tab" href="#sales" role="tab" aria-controls="sales" aria-selected="false">Sale</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tab-content tab_conarea" id="myTabContent">
                                    <h5>Property search for rent and sales <a href="javascript:void(0)" data-toggle="modal" data-target="#exampleModalCenter">Advanced Search</a></h5>
                                    <div class="tab-pane fade show active" id="rentals" role="tabpanel" aria-labelledby="rentals-tab">
                                        <form>
                                            <div class="row search_field">
                                                <div class="col-12 col-sm-12 col-md-7 p-0">
                                                    <input type="text" value="" placeholder="Type Location or Project/Society or Keyword">
                                                </div>
                                                <div class="col-12 col-sm-12 col-md-3 padding_none">
                                                    <select>
                                                        <option>Property Type</option>
                                                        <option>Property Type 2</option>
                                                        <option>Property Type 3</option>
                                                        <option>Property Type 4</option>
                                                        <option>Property Type 5</option>
                                                    </select>
                                                </div>
                                                <div class="col-12 col-sm-12 col-md-2 p-0">
                                                    <button type="submit">Search</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="tab-pane fade" id="sales" role="tabpanel" aria-labelledby="sales-tab">
                                        <form>
                                            <div class="row search_field">
                                                <div class="col-12 col-sm-12 col-md-7 p-0">
                                                    <input type="text" value="" placeholder="Type Location or Project/Society or Keyword">
                                                </div>
                                                <div class="col-12 col-sm-12 col-md-3 padding_none">
                                                    <select>
                                                        <option>Property Type</option>
                                                        <option>Property Type 2</option>
                                                        <option>Property Type 3</option>
                                                        <option>Property Type 4</option>
                                                        <option>Property Type 5</option>
                                                    </select>
                                                </div>
                                                <div class="col-12 col-sm-12 col-md-2 p-0">
                                                    <button type="submit">Search</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 mt-3 text-center">
                            <img src="images/18.gif">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>